.container{
    background-color: bisque;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.parking-slots {
    grid-column: 1 / 2;
    padding: 10rem;

    display: grid;
    gap:2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    min-height: 95vh;
    position: relative;
    &__create{
        position: absolute;
        top: 3rem;
        right: -2rem;
        transform: translateX(-50%);
        padding: 2rem;
        background-color: $color-secondary-dark;
        border-radius: 50%;
        transition: all .2s;
        z-index: 100;
        cursor: pointer;
        &:hover{
            box-shadow: 0 2rem 2rem rgba($color-black, 0.3);
            transform: translateX(-50%) translateY(-2px) scale(1.02);
        }
    }
}
.menu{
    grid-column: 2 / 3;
    padding: 10rem;
    background-color: olivedrab;
}